{% extends 'boards/base.html' %}

{% block body %}
    <h1>Detail</h1>
    <h2>제목 : {{ board.title }}</h2>
    {% if board.image %}
    <p><img src="{{board.image.url}}" alt="이미지"></p>
    {% else %}
    <p>등록된 이미지가 없습니다.</p>
    {% endif %}
    <p>{{ board.id }}번째 글</p>
    <p>{{ board.created_at }}</p>
    <hr />
    <p><b>내용 : </b></p>
    <p>{{ board.content }}</p>
    <hr />

    <p><b>댓글 목록</b></p>
    {% for comment in comments %}
        <li>{{ comment.content }}</li>
        <!--<form action="{# url 'boards:comment_delete' board_id=board.id comment_id=comment.id #}"></form> 같은 의미-->
        <form action="{% url 'boards:comment_delete' board.id comment.id %}" method="post">
            {% csrf_token %}
        <input class="btn btn-outline-dark" type="submit" value="삭제">
        </form>
    {% empty %}
        <p>아직 댓글이 없습니다 :(</p>
    {% endfor %}
    <hr />


    <form action="{% url 'boards:comment_create' board.id %}" method="post">
        {% csrf_token %}    <!-- 우리 웹 서버에서 어떤 작성이 일어날때는 csrf_token이 필요하다라는 의미 // 보안상 필요 -->
        <input type="text" name="content" size="50%" placeholder="댓글을 입력해 주세요.">
        <input class="btn btn-warning" type="submit" value="댓글달기">
    </form>
    <hr />

    <!--<a href="/boards/">[뒤로가기]</a>-->
    <!--<form action="/boards/" method="post">-->
    <form action="{% url 'boards:index' %}" method="post">
        {% csrf_token %}    <!-- 우리 웹 서버에서 어떤 작성이 일어날때는 csrf_token이 필요하다라는 의미 // 보안상 필요 -->
        <input class="btn btn-secondary" type="submit" value="뒤로가기"/>
    </form>

    <!--<a href="/boards/{{ board.id }}/delete/">[삭제하기]</a>-->
    <!--<form action="/boards/{{ board.id }}/delete/" method="post">-->
    <form action="{% url 'boards:delete' board.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="삭제하기"/>
    </form>

    <a href="{% url 'boards:edit' board.id %}">[수정하기]</a>
    <!--<form action="/boards/{{ board.id }}/edit/" method="post">-->
    <!--<form action="{# url 'boards:edit' board.id #}" method="post">-->
        <!--{% csrf_token %}-->
        <!--<input class="btn btn-warning" type="submit" value="수정하기"/>-->
    <!--</form>-->

{% endblock %}